html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #e9e9e9;
}

body, input, button, select, option, textarea, form, td, tr, table {
	font-family: 'Varela Round', Helvetica, Arial, sans-serif;
	font-size: 100%;
	-webkit-appearance: none;
}

table {
	table-layout: fixed;
}

td {
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title {
	margin-left: auto;
	margin-right: auto;
	border-width: 5px;
	border-spacing: 2px;
	border-style: outset;
}

.postmetadata {
	font-size: 80%;
}

#start, #message, #user, #login {
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

a {
	color: #b64755;
	text-decoration: none;
}

button {
	background-color: #bf185d;
	border: 1px solid #bf185d;
	cursor: pointer;
	color: #ffffff;
}

button:hover {
	background-color: #b64755;
}

button:active {
	position: relative;
	top: 1px;
}

input[type=submit], input[type=button] {
	background-color: #bf185d;
	border: 1px solid #bf185d;
	cursor: pointer;
	color: #ffffff;
	border-radius:0px;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: #b64755;
}

input[type=submit]:active, input[type=button]:active {
	position: relative;
	top: 1px;
}

input[type=text], input[type=password], input[type=number] {
	margin: 0px;
	text-align: left;
	border-radius:0px;
}

#uploadinput {
	visibility: hidden;
}

.pagetitle {
	font-family: 'Varela Round', Futura, Helvetica, Arial, sans-serif;
	font-size: 200%;
}

.foodPic {
	width: 100%;
	padding-bottom: 25px;
	border-radius: 0px;
}

.foodThumb {
	width: 30%;
	padding-bottom: 10px;
}

#header {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background: #ffffff;
	border-bottom: 1px solid black;
}

#sidebar {
	position: absolute;
	top: 20px;
	bottom: 0;
	right: 20px;
	width: 200px;
	background-color: #ffffff;
	box-shadow: 2px 2px grey;
	padding: 10px;
}

#loginform {
	margin: auto;
}

#loggedin, #loggedout {
	margin-left: 25px;
	margin-right: 25px;
}

#logoutbutton {
	float: right;
	margin-right: 25px;
}

#nextbutton {
	margin-left: 100px;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 10px;
}

#posts {
	clear: left;
}

.comment {
	background-color: #ffffff;
	border: 1px solid #bf185d;
	padding: 15px;
	margin-bottom: 5px;
}

.comment_metadata {
	color: #777777;
	font-size: 14px;
}

.post {
	-webkit-perspective: 800;
	-ms-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	width: 280px;
	height: 450px;
	position: relative;
	margin: 10px;
	display: inline-block;
}

.cardcontent {
}

.cardcontentback {
	margin: 20px;
}

.calorieform {
	margin-top: 25px;
}

.post .card.flipped {
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}

.post .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.post .card .face {
	background-color: #ffffff;
	border-radius: 0px;
	box-shadow: 1px 1px grey;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	backface-visibility: hidden; /* W3C */
	-webkit-backface-visibility: hidden; /* Safari & Chrome */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
	-o-backface-visibility: hidden; /* Opera */
}

.post .card .front {
	position: absolute;
	z-index: 1;
}

.post .card .back {
	background: white;
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}

.tag {
	background: #bf185d;
	color: #ffffff;
	border-radius: 2px;
	padding: 2px;
	margin: 2px;
	font-size: 80%;
	display: inline-block;
}

#cover {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	width: 100%;
	height: 100%;
	display: none;
}

#uploadScreen {
	margin-bottom: 100px;
	padding: 15px;
}

#uploadContainer {
	margin: 5 auto;
	max-width: 310px;
	height: 540px;
	position: relative;
	z-index: 10;
	box-shadow: 2px 2px grey;
	background: #ffffff;
	display: none;
}

#uploadOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0.4;
	z-index: 11;
	display: none;
}

.cancel {
	display: block;
	position: absolute;
	top: 3px;
	right: 2px;
	background: #ffffff;
	color: black;
	height: 30px;
	width: 35px;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}

.preview {
	padding-top: 30px;
	margin: 0 auto;
    height: auto; 
    width: auto; 
    max-width: 280px; 
    max-height: 280px;
}

.tag {
  	background: #bf185d;
  	color: #ffffff;
  	border-radius: 3px;
  	padding: 2px;
  	margin: 2px;
  	display: inline-block;
}

.tagtitle {
  	padding: 2px;
  	margin: 2px;
  	display: inline-block;
}