html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: #b0c4de;
}

body, input, button, select, option, textarea, form, td, tr, table {
	font-family: 'Varela Round', Helvetica, Arial, sans-serif;
	font-size: 100%;
}

table {
	table-layout: fixed;
}

td {
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.title {
	margin-left: auto;
	margin-right: auto;
	border-width: 5px;
	border-spacing: 2px;
	border-style: outset;
}

.postmetadata {
	font-size: 80%;
}

#start, #message, #user, #login {
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

a {
	color: #b64755;
	text-decoration: none;
}

button {
	background-color: #bf185d;
	border: 1px solid #bf185d;
	cursor: pointer;
	color: #ffffff;
}

button:hover {
	background-color: #b64755;
}

button:active {
	position: relative;
	top: 1px;
}

input[type=submit], input[type=button] {
	background-color: #bf185d;
	border: 1px solid #bf185d;
	cursor: pointer;
	color: #ffffff;
}

input[type=submit]:hover, input[type=button]:hover {
	background-color: #b64755;
}

input[type=submit]:active, input[type=button]:active {
	position: relative;
	top: 1px;
}

input[type=text], input[type=password] {
	margin: 0px;
	text-align: left;
}

#uploadinput {
	visibility: hidden;
}

#preview {
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

.pagetitle {
	font-family: 'Varela Round', Futura, Helvetica, Arial, sans-serif;
	font-size: 200%;
}

.foodPic {
	width: 100%;
	padding-bottom: 25px;
	border-radius: 5px;
}

.foodThumb {
	width: 30%;
	padding-bottom: 10px;
}

#header {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  	z-index: 3;
  	background: #b0c4de;
  	border-bottom: 1px solid white;
}


#sidebar {
	position: absolute;
	top: 20px;
	bottom: 0;
	right: 20px;
	width: 200px;
	background-color: #ffffff;
	box-shadow: 2px 2px grey;
	padding: 10px;
}

#loginform {
	margin: auto;
}

#loggedin, #loggedout {
	margin-left: 25px;
	margin-right: 25px;
}

#logoutbutton {
	float: right;
	margin-right: 25px;
}

#nextbutton {
	margin-left: 100px;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 10px;
}

#posts {
	clear: left;
}

.comment {
	background-color: #ffffff;
	border: 1px solid #bf185d;
	padding: 15px;
	margin-bottom: 5px;
}

.comment_metadata {
	color: #777777;
	font-size: 14px;
}


.post {
	-webkit-perspective: 800;
	-ms-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	width: 350px;
	height: 500px;
	position: relative;
	margin: 20px;
	display: inline-block;
}

.cardcontent {
 	margin: 20px;
}

.calorieform {
	margin-top: 25px;
}

.post .card.flipped {
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}

.post .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.post .card .face {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 2px 2px grey;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	backface-visibility: hidden; /* W3C */
	-webkit-backface-visibility: hidden; /* Safari & Chrome */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
	-o-backface-visibility: hidden; /* Opera */
}

.post .card .front {
	position: absolute;
	z-index: 1;
}

.post .card .back {
	background: white;
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}

.tag {
  	background: #bf185d;
  	color: #ffffff;
  	border-radius: 2px;
  	padding: 2px;
  	margin: 2px;
  	font-size: 80%;
  	display: inline-block;
}