#header {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 40px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  	z-index: 3;
  	background: #b0c4de;
  	border-bottom: 1px solid white;
}

.pagetitle {
	font-family: 'Varela Round', Futura, Helvetica, Arial, sans-serif;
	font-size: 200%;
}

.preview {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
